.header {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 10vmin;
  text-align: center;
  display: block;
  color: white;
  background-color: #cc0000;
  width: 100%;
}
.infocontainer {
  z-index: 1;
  background-color: #000000;
  opacity: 0.8;
}
.infobox {
  z-index: 2;
  -webkit-animation-name: showInfo;
  -webkit-animation-duration: 1s;
  animation-name: showInfo;
  animation-duration: 1s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: #ffffff;
  position: fixed;
}

@-webkit-keyframes showInfo {
    from {top: 100%; transform: translate(-50%, -50%);}
    to {top: 50%; transform: translate(-50%, -50%);}
}
@keyframes showInfo {
    from {top: 100%; transform: translate(-50%, -50%);}
    to {top: 50%; transform: translate(-50%, -50%);}
}
